.frame{
    overflow: hidden;
    box-sizing: border-box;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #d9d9d9;
    width: 100%;
    display: flex;
    align-items: center;
}

.suka {
    position: relative;
    bottom: 200px;
    color: black;
    left: 200px;
}

.fotor {
    position: relative;
    text-align: center;
    justify-content: center;
    width: 500px;
    height: 400px;
    left: 200px;
}

.rectangl7{
    width: 1000px;
    height: max-content;
    top: 50px;
    left: 5px;
    position: relative;
    background-color: white;
}

.rectangle9 {
    width: 100%;
    left: 40rem;
    height: auto;
    margin: 0;
    display: block;
    max-width: 130px;
    height: 38px;
    border-radius: 7px 7px 7px 7px;
    margin-left: 130px;
    position: relative;
    margin-right: 30px;
    top: -10px;
    text-align: center;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:bolder;
    color: white;
    background-color: green;
  }

.rectangle{
    width: 2000px;
    height: 120px;
    margin-bottom: 30px;
    overflow: scroll;
}

.foto4 {
    width: 500px;
    height: 400px;
}

.rectangle1{
    position: relative;
    right: 200px;
}

.rectangle2{
    width: 100px;
    height: 50px;
    overflow: scroll;
}

.rectangle3{
    width: max-content;
    height: max-content;
    bottom: 350px;
    left: 300px;
    position: relative;
    background-color: white;
    padding: 10px 20px 10px 20px;
}
.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(232, 227, 227);
    padding: 4px;
    height: 45px;
  }
  .rumah {
    position: relative;
    height: auto;
    margin: 0;
    display: block;
    bottom: 10px;
    width: 100%;
    max-width: 30px;
    margin-top: 15px;
    margin-left: 50px;
  }
  .save {
    position: relative;
    height: auto;
    margin: 0;
    display: block;
    bottom: 40px;
    width: 100%;
    max-width: 30px;
    left: 48%;
  }
  .akun {
    position: relative;
    height: auto;
    margin: 0;
    display: block;
    bottom: 70px;
    width: 100%;
    max-width: 30px;
    left: 89%;
  }
  .navbar {
    background-color: green;
    color: white;
  }
  
.rectangle7{
    width: 1000px;
    height: max-content;
    bottom: 50px;
    left: 5px;
    position: relative;
    background-color: white;
}

.rectangleSimpan{

    margin: 0px 0px 10px 0px;
    border: 1px solid black;
    border-radius: 15px;
    width: 350px;
    height: 40px;
    bottom: 50px;
    left: 400px;
    display: flex;
    justify-content: center;

}
/* .rectangleLike{
    margin: 0px 0px 10px 0px;
    border: 1px solid black;
    border-radius: 15px;
    width: 350px;
    height: 40px;
    bottom: 50px;
    left: 950px;
    display: flex;
    justify-content: center;

} */
.rectangleimg{
    width: 30px;
    height: max-content;
    margin: auto;
}
.rectangleimg2{
   position: relative;
   left: 60px;
}

.rectangle4{
    width: 100px;
    height: max-content;
    margin: auto;
    right: 10px;
    position: relative;
}

.rectangle50 {
    position: relative;
    right: 25px;
}

/* .rectangle0{
    right: 150px;
    top: 10px;
    position: relative;
}

.likeimg {
    right: 180px;
    position: relative;
} */